.contact-introduction-container {
	position: relative;
	height: 400px;
	width: 100%;
	min-width: 980px;
	background-image: url(images/portfolio/background.jpg); background-position: center top;
}

.contact-form-container {
	position: absolute;
	left: 0px;
	width: 100%;
}

.contact-introduction {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 400px;
	width: 820px;
}

.contact-introduction img {
	position: absolute;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 900ms;
	left: 0px;
	top: 30px;
	opacity: 0;
	width:  330px;
}

.contact-introduction h1 {
	position: absolute;
	top: 80px;
	left: 350px;
	width: 500px;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.contact-introduction h2 {
	position: absolute;
	top: 170px;
	left: 390px;
	width: 500px;
	line-height: 28px;
	font-weight: normal;
	font-style: normal;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

.contact-info-container {
	position:  relative;
	width: 820px;
	height: 1000px;
	padding-top: 10px;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	/*transform: scale(0,0);*/
	opacity: 0;
	overflow: hidden;
}

.contact-info-inner-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 100%;
	width: 820px;
}

.contact-info-container .contact-info {
	right: 0px;
	position: absolute;
	height: 100%;
	width: 250px;
}

.contact-info-container .contact-form-container {
	left: 0px;
	position: absolute;
	height: 100%;
	width: 570px;
}
