#deviceBrowser {
	position: relative;
	width: 900px;
	height: 700px;
	background-color: #ebe9e9;
}

#deviceFrame {
	position: relative;
	width: 100%;
	min-height: 600px;
	background-color: #9d8e8e;
	/*transition-property: all;
	transition-delay: 0ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 400ms;*/
}

#deviceFrame .ipad-frame {
	position: absolute;
	top: 50%;
	left:  50%;
	margin-left: -355px;
	margin-top: -275px;
	transition-property: all;
	transition-delay: 0ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
}

#deviceFrame .iphone-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -260px;
	margin-top: -137px;
	transition-property: all;
	transition-delay: 0ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
}

#deviceFrame .iphone-frame {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -260px;
	margin-top: -137px;
	transition-property: all;
	transition-delay: 0ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
}

#deviceFrame .browser-screenshot-ipad-horizontal {
	position: relative;
	left: 162px;
	top: 81px;
	overflow: hidden;
	height: 436px;
	width: 577px;
}

#deviceFrame .browser-screenshot-ipad-portrait {
	position: relative;
	left: 276px;
	top: 70px;
	overflow: hidden;
	height: 461px;
	width: 349px;
}

#deviceFrame .browser-screenshot-iphone-horizontal {
	position: relative;
	left: 287px;
	top: 187px;
	overflow: hidden;
	height: 222px;
	width: 333px;
}

#deviceFrame .browser-screenshot-iphone-portrait {
	position: relative;
	left: 341px;
	top: 135px;
	overflow: hidden;
	height: 333px;
	width: 222px;
}


#nav-left {
	position: absolute;
	height: 100%;
	width: 200px;
	opacity: 0.0;
	left: 0px;
	top: 0px;
	background-image: url('images/portfolio/deviceBrowser/prev.png');
}

#nav-left.active:hover {
	opacity: 0.8;
	cursor: pointer;
}


#nav-right {
	position: absolute;
	height: 100%;
	width: 200px;
	opacity: 0;
	right:  0px;
	top: 0px;
	background-image: url('images/portfolio/deviceBrowser/next.png');
	transition-property: all;
	transition-delay: 50ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 100ms;
}

#nav-right.active:hover {
	opacity: 0.8;
	cursor: pointer;
}


#screenshotArea {
	position: absolute;
	width: 100%;
	height:  100px;
}

.ipad-screenshot-horizontal {
	position: absolute;
	display : block;
	height : 436px;
	width: 577px;
	top : 0px;
	transition-property: all;
	transition-delay: 100ms;
	transition-timing-function: cubic-bezier(0.25,0,0.25,1);
	transition-duration: 1000ms;
}

.ipad-screenshot-portrait {
	position: absolute;
	display : block;
	height : 461px;
	width: 349px;
	top : 0px;
	transition-property: all;
	transition-delay: 100ms;
	transition-timing-function: cubic-bezier(0.25,0,0.25,1);
	transition-duration: 1000ms;
}

.iphone-screenshot-horizontal {
	position: absolute;
	display : block;
	height : 222px;
	width: 333px;
	top : 0px;
	transition-property: all;
	transition-delay: 100ms;
	transition-timing-function: cubic-bezier(0.25,0,0.25,1);
	transition-duration: 1000ms;
}

.iphone-screenshot-portrait {
	position: absolute;
	display : block;
	height : 333px;
	width: 222px;
	top : 0px;
	transition-property: all;
	transition-delay: 100ms;
	transition-timing-function: cubic-bezier(0.25,0,0.25,1);
	transition-duration: 1000ms;
}

.contro-icon {
	cursor: pointer;
}

.hidden {
	display: none;
}
