.contact-introduction-container {
	position: relative;
	height: 320px;
	width: 100%;
	min-width: 980px;
	background-image: url(images/portfolio/background.jpg); background-position: center top;
}

.contact-form-container {
	position: absolute;
	left: 0px;
	width: 100%;
}

.contact-introduction {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 400px;
	width: 820px;
}

.contact-introduction img {
	position: absolute;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 900ms;
	left: 0px;
	top: 30px;
	opacity: 0;
	width:  330px;
}

.contact-introduction h1 {
	position: absolute;
	top: 80px;
	left: 350px;
	width: 500px;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30pt;
}

.contact-introduction h2 {
	position: absolute;
	top: 170px;
	left: 390px;
	width: 520px;
	line-height: 1.25;
	font-weight: normal;
	font-style: normal;
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	opacity: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 21pt;
}

.blog-container {
	position:  relative;
	width: 980px;
	height: auto;
/* 	min-height: 1000px; */
/* 	padding-top: 10px; */
	transition-property: none; transition-delay: 100ms; transition-timing-function: cubic-bezier(0.25,0,0.25,1); transition-duration: 1000ms;
	margin-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
	opacity: 1;
	margin-left: auto;
	margin-right: auto;
	background-color: #fefefe;
}

.blog-inner-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: auto;
	width: 100%;
	float: left;
	min-height: 1000px;
}

.blog-inner-container .blog-navigation {
	right: 0px;
	position: absolute;
	height: auto;
	width: 23%;
	box-shadow: 0px 0px 6px #A9ACB1;
	border-radius: 6px;
	background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fefefe),color-stop(1, #f0f0f0));
	min-height: 1000px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
}

.blog-inner-container .blog-summary {
	left: 0px;
	position: absolute;
	height: auto;
	width: 69%;
	box-shadow: 0px 0px 6px #A9ACB1;
	border-radius: 6px;
	background-image: -moz-linear-gradient(top, #FEFEFE, #F0F0F0);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fefefe),color-stop(1, #f0f0f0));
	min-height: 1000px;
	padding-bottom: 20px;
}

.blog-entry {
	padding-top: 20px;
	padding-left: 25px;
	padding-right: 25px;
}

.blog-entry-title {
	font-size: 16pt;
	font-weight: bold;
	color: #2f88cc;
}

.blog-entry-metadata {
	margin-top: 3px;
	color: #888;
	font-size: 11pt;
	
}

.blog-entry-content {
	margin-top: 10px;
	font-weight: 300;
	font-size: 11pt;
	line-height: 1.5;
	margin-bottom: 18px;
}

.blog-entry-content p {
	font-weight: 300;
	font-size: 11pt;
}

.blog-entry-comments {
	min-width: 100px;
	width: auto;
	height: 60px;
	border-radius: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #888;
/* 	box-shadow: 0px 0px 6px #888; */
	text-align: center;	
	display: table-cell;
	vertical-align: middle;
}

.blog-entry-comments a {
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: black;
	font-weight: 400;
	font-size: 11pt;
	padding-left: 5px;
	padding-right: 5px;
	height: 60px;
}

.blog-entry-comments:hover {
	background-color: #eee;
}


.blog-navigation-item {
	
}

.blog-navigation-item h2 {
	color: #999;
	font-size: 14pt;
	text-transform: uppercase;
}

.blog-navigation-item ul li a {
	font-size: 10pt;
	color: black;
}

.blog-navigation-item ul hr {
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #d9cccc;
	height: 1px;
}

.blog-navigation-item ul li a:hover {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

#comments-title {
	font-size: 16pt;
	font-weight: bold;
}

cite.fn {
	font-weight: bold;
}

.comment-author {
	margin-bottom: 5px;
}

#comment {
	width: 400px;	
}

.logged-in-as {
	text-align: right;
}

.comment-details {
	margin-left: 40px;
}

.comment-text {
	margin-left: 40px;
	font-size: 14pt;
}

.author-avatar {
	float: left;
}

.reply {
	margin-left: 40px;
}

.comment-body {
	margin-top: 10px;
}

.comment-separator {
	border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #999, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #999, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #999, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #999, #ccc); 
}

.comment-awaiting-moderation {
	margin-left: 7px;
}

.comment-edit-link {
	margin-left: 7px;
}

.nav-previous {
	margin-left: 25px;
	margin-top: 15px;
	font-size: 11pt;
}

.nav-next {
	margin-right: 25px;
	margin-top: 15px;
	font-size: 11pt;
	float: right;
}
