// Styling for the footer
footer {
  padding: 25px 0;
  color: fade-out(white, .7);
  background-color: $gray-darker;
  p ~ p {
    padding-top: 6px;
  }
  p {
    font-size: 10px;
    margin: 0;
    text-align: justify;
  }
  ul {
    margin-bottom: 0;
    li {
      font-size: 10px;
      margin-right: 0.5rem;
      &.heading {
        margin-top: 24px;
        margin-bottom: 6px;
        font-size: 12px;
      }
      .social {
        font-size: 32px;
        &:not(:last-child) {
          margin-right: 2rem;
          margin-top: 1rem;
        }
      }
      a {
        color: fade-out(white, .7);
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
